@{
    ViewData["Title"] = "Sampels";
}

<h2>Samples</h2>
<div>
    <ul>
        <li><a asp-area="" asp-controller="Samples" asp-action="CallIdentityApi">Call Identity API Method</a></li>
    </ul>
</div>

